body{
    font-family:'roboto', 'Raleway'
    
}

.header {}

.header-nav {}

.header-logo {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color:#4D5AE5;}

.logo-dark {
font-family: 'Raleway';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 1.17;
color: #2E2F42;
}

.header-list {}

.header-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #2E2F42;
 }

.header-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #2E2F42;
 }


.header-address-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color:#434455;}

.header-address-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color:#434455;
}

/* main block */
/* hero section */
.section-hero {
background-color: #2E2F42;
}

.hero-title {
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height:1.17;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.hero-btn {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* Section-1 */
.section-1 {}

.title {}

.section-1-list {}

.section-1-item {}

.titlest 
   {font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color:#2E2F42;
}

.section-1-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
    color: #434455;
}

/* section-2 */
.section-2 {}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11
    color: #2E2F42;
}

.section2-list {}

.section2-foto {}

/* section-3 */
.section-3 {}

.title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
}

.our-team-list {}

.our-team-item {}

.titlest {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color: #2E2F42;
}

.titleprofeshun{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50
    color: #434455;
}
/* Footer section */
.footer {
    background: #2E2F42;
}

.section {}

.footer-logo {font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
}

.logo-white {font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #F4F4FD;}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
     color: #F4F4FD;
    }