:root {
    --primarybrand-color: #4d5ae5;
    --primarydark-color: #2e2f42;
    --primarybody-color: #434455;
    --pressedstate-color: #404bbf;
    --light-text: #f4f4fd;
    --white-text: #ffffff;}
.body{
font-family: 'Roboto', 'Raleway', 'sans-serif';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.50;
color: #434455;
background-color: #FFFFFF;

}

.header {}

.header-nav {}

.header-logo {
font-family: 'Raleway', 'sans-serif';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
color:#4D5AE5;}

.logo-dark {
font-family: 'Raleway', 'sans-serif';
font-weight: 800;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
text-decoration: none;
color: #2E2F42;
}

.header-list {
    list-style: none;
}

.header-item {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.50;
     color: #2E2F42;
}

.header-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #2E2F42;
 }


.header-address-item {
    font-style:normal;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:#434455;
}

.header-address-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    color:#434455;
}

/* main block */
/* hero section */
.section-hero {
background-color: #2E2F42;
}

.hero-title {
font-weight: 700;
font-size: 56px;
line-height:1.17;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.hero-btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.50;
    color: #FFFFFF;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

}

/* Section-1 */
.section-1 {}

.title {}

.section-1-list {}

.section-1-item {}

.titlest {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color:#2E2F42;
}

.section-1-text {
    font-size: 16px;
    line-height: 1.50;
    color: #434455;
}

/* section-2 */
.section-2 {}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11
    color: #2E2F42;
}

.section2-list {}

.section2-foto {}

/* section-3 */
.section-3 {}

.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
}

.our-team-list {}

.our-team-item {}

.titlest {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.20;
    color: #2E2F42;
}

.titleprofeshun{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50
    color: #434455;
}
/* Footer section */
.footer {
    background: #2E2F42;
}

.section {}

.footer-logo {f
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #4D5AE5;
}

.logo-white {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    color: #F4F4FD;}

.footer-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.50;
     color: #F4F4FD;
    }
    /* Portfolio */
        .btn-link {
            font-family: Roboto;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.50;
                letter-spacing: 0.04em;}
        .btn-all {
            background-color: rgba(64, 75, 191, 1);
            color:#FFFFFF;
        }
    
        .btn-web {
            background-color: rgba(231, 233, 252, 1);
            color: rgba(77, 90, 229, 1)
        }
    
        .btn-app {
            background-color: rgba(231, 233, 252, 1);
            color: rgba(77, 90, 229, 1)
        }
    
        .btn-desing {
            background-color: rgba(231, 233, 252, 1);
            color: rgba(77, 90, 229, 1)
            }
        
    
        .btn-market {
            background-color: rgba(231, 233, 252, 1);
                color: rgba(77, 90, 229, 1);
            }        
       .list {}
    
        .lih {
                font-size: 20px;
                font-weight: 500;
                line-height: 1.20;
                letter-spacing: 0.02em;
        }
    
        .lip {
                font-size: 16px;
                font-weight: 400;
                line-height: 1.50;
                letter-spacing: 0.02em;
        }